.desck {
    font-size: 16px;
    color: #0009;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 8px;
}
.btr{
    position: absolute;
    bottom: 15px;
    right: -40px;
    opacity: 0;
    transition: .3s;
}
.button{
    position: absolute;
    top: 10px;
    left: 10px;
}
.api{
    padding-bottom: 30px;
    /* opacity: 0; */
    transition: .3s;
}
.api:hover{
    box-shadow: 0 0 10px 0 rgb(245, 242, 242);
    margin-top: 40px;
    padding-bottom: 30px;
    transition: .5s;
    opacity: 1;
   .btr{
    position: absolute;
    bottom: 10px;
    left: 230px;
    opacity: 1;
    transition: .5s; 

   } 
   .ofset{
    position: absolute;
    bottom: 10px;
    left: 8%;
    opacity: 1;
}
}
.ofset{
    position: absolute;
    margin-top: 400px;
    bottom: -20px;
    left: -80px;
    opacity: 0;
}